<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Educacion</title>
</head>

<body>
  <div class="login-dark">
    <form (ngSubmit)="onCreate()" #f="ngForm">
      <h2 class="sr-only">Experiencia</h2>
      <div class="illustration"><i class="fas fa-code"></i></div>

      <div class="form-group">
        <input type="text" id="nombre" name="nombre" class="form-control form-control-lg" [(ngModel)]="nombre"
          required placeholder="Nombre" />
        <div *ngIf="formSubmitted && !nombre" class="text-danger">El nombre es requerido.</div>
      </div>

      <div class="form-group">
        <input type="number" id="porcentaje" name="porcentaje" class="form-control form-control-lg" [(ngModel)]="porcentaje" required placeholder="Porcentaje" min="1" max="100"  />
        <div *ngIf="formSubmitted && !porcentaje" class="text-danger">El porcentaje es requerido.</div>
      </div>

      <button class="btn btn-primary btn-block" type="submit">Guardar</button>
    </form>
  </div>
</body>

</html>
