<section id="experiencia" class="experiencia">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <h2>Experiencia laboral</h2>
      </div>
      <div class="col-md-6 col-lg-2">
        <button type="button" class="btn btn-success" routerLink="/nuevaexp"  *ngIf="isLogged">
          Agregar
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr *ngFor="let experiencia of experiencias">
                <td>
                  <h5>{{ experiencia.nombreE }}</h5>
                </td>
                <td>{{ experiencia.descripcionE }}</td>
                <td>
                  <button class="btn btn-light" [routerLink]="'/editexp/' + experiencia.id"  *ngIf="isLogged">
                    <i class="bi bi-pencil-fill"></i> EDITAR
                  </button>
                </td>
                <td>
                  <button class="btn btn-danger" (click)="delete(experiencia.id)"  *ngIf="isLogged">
                    <i class="bi bi-trash-fill"></i> BORRAR
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
