<!-- <div class="container" *ngIf="persona">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="persona.nombre"
                        required />
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="persona.apellido"
                        required />
                </div>
                <div class="form-group">
                    <label for="apellido">Descripcion</label>
                    <input type="text" class="form-control" id="apellido" name="apellido"
                        [(ngModel)]="persona.descripcion" required />
                </div>
             
                <div class="form-group">
                    <label for="img">Descripcion de sus estudios</label>
                    <input type="file" class="form-control" id="img" name="img" [(ngModel)]="persona.img" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png" required>
                </div>

                <div class="imagen">
                    <img [src]="imageService.url" width="200px" />
                </div>
                <button class="btn btn-primary">Editar persona</button>
            </form>
        </div>
    </div>
</div>-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body>
    <div class="login-dark" *ngIf="persona">
        <form method="post">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="fas fa-user"></i></div>

            <div class="form-group"><input class="form-control" type="nombre" name="nombre" placeholder="Nombre"
                    [(ngModel)]="persona.nombre" required></div>
            <div class="form-group"><input class="form-control" type="apellido" name="apellido" placeholder="Apellido"
                    [(ngModel)]="persona.apellido" required></div>
            <div class="form-group"><input class="form-control" type="descripcion" name="descripcion"
                    placeholder="Descripcion" [(ngModel)]="persona.descripcion" required></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Guardar</button></div>

            <!-- 
            <div class="form-group">
                <label for="img">Descripcion de sus estudios</label>
                <input type="file" class="form-control" id="img" name="img" [(ngModel)]="persona.img" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png" required>
            </div>

            <div class="imagen">
                <img [src]="imageService.url" width="200px" />
            </div>-->

        </form>


    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>