<div class="container-fluid">
  
  <div class="row">
    <button type="button" class="btn btn-dark" routerLink="/editsobremi/1" >
      Editar Persona
  </button>
    <div class="col-3">
      <!-- <img src="{{persona.img}}" class="rounded-circle w-75" alt="" /> --> 
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
      <p>Full Stack Develooper</p>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <h5>
        {{persona.descripcion}}
      </h5>
    </div>
  </div>
</div>
