  <!--

<div class="row">
  <div class="col-lg-2">
    <button type="button" class="btn btn-success" routerLink="/editsobremi/1">
      Editar
    </button>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
     <img src="{{ persona.img }}" class="img-fluid" id="fotodeperfil" /> 
   
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">{{ persona.nombre }} {{ persona.apellido }}</p
    <p>Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mí</h1>
    <p>{{ persona.descripcion }}</p>
    </span>
  </div>
</div>
-->
<div class="row" *ngIf="persona">  
 
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/img/perfil.jpg" class="img-fluid" id="fotodeperfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
      <p>Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
          <h1>Acerca de mí</h1>
          <p>{{persona.descripcion}}</p>
      </span>
  </div>
  
</div> 
<div class="row">
  <div class="col">
    <button type="button" class="btn btn-success" routerLink="/editsobremi/1">
      Editar
    </button>
  </div>   
</div>