<ul id="redes" class="list-group list-group-horizontal list-unstyled">
  <li class="list-group-item">
    <i class="fa-brands fa-instagram fa-2xl"></i>
  </li>
  <li class="list-group-item">
    <i class="fa-brands fa-facebook fa-2xl"></i>
  </li>
  <li class="list-group-item">
    <i class="fa-brands fa-linkedin fa-2xl"></i>
  </li>
  <li class="list-group-item" *ngIf="!isLogged">
    <i class="fa-solid fa-user fa-2xl" type="button" (click)="login()" ></i>
  </li>
  <li class="list-group-item" *ngIf="isLogged">
    <i class="fa-solid fa-right-from-bracket" type="button" (click)="onLogOut()" ></i>
  </li>
</ul>