/* You can add global styles to this file, and also import other style files */



body {  
  background-color: white;
  min-height: 100vh;
  position: relative;
}

section.sobre-mi { 
  color: white;
  padding: 10rem;
  background-color: black;
}

section.experiencia, section.educacion, section.habilidades, section.proyectos{
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.modal-content{
  --bs-modal-bg: #2a2a2a;
}
.modal-dialog{
  color: white;
}

